.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  width: 7rem;
  height: 100vh;
  padding: 2.5rem 0;
  position: fixed;
  left: 0;
  z-index: 100;

  background: var(--white);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.container img {
  cursor: pointer;
}

.navigate {  
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

.navigateButton {
  height: 4rem;
  width: 100%;
  margin-bottom: 5px;
  
  background-color: transparent;
  color: var(--text);
  font-size: 2rem;
  outline-color: var(--blue);

  border: 0;
  transition: all 0.3s;
}

.navigateButton:hover {
  color: var(--blue);
}

.navigateButtonActive {
  position: relative;
  color: var(--blue);
}

.navigateButtonActive::before {
  content: '';
  height: 100%;
  width: 5px;
  border-radius: 0 5px 5px 0;
  position: absolute;
  background: var(--blue);
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.exitButton {
  height: 4rem;
  width: 100%;
  margin-bottom: 5px;
  
  background-color: transparent;
  color: var(--text);
  font-size: 2rem;
  outline-color: var(--red);

  border: 0;
  transition: all 0.3s;
}

.exitButton:hover {
  color: var(--red);
}