.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

.levelupContainer {
  width: 1200px;
  height: 630px;
  
  background: var(--white);

  text-align: center;  

  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} 

.levelupContainer > div {
  /* width: 30%; */
  margin: 0 76px;
}


.first header {
  font-size: 18rem;
  font-weight: 600;
  color: var(--blue);
  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain;

  text-shadow: 0 0 20px var(--blue-transparent);
}

.first strong {
  font-size: 3rem;
  color: var(--title);
}

.second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  width: max-content;
}

.second strong {
  font-size: 1.5rem;
  color: var(--gray);
  text-align: start;
  margin: 0.5rem 0;

  width: 100%;
}

.second p {
  font-size: 2.25rem;
  font-weight: 500;
  text-align: start;

  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  border-bottom: 2px solid var(--gray-line);
}

.second span {
  color: var(--blue);
}