.containerOver {
  margin-left: 7rem;
}

.containerOver::-webkit-scrollbar {
  width: 5px;
}

.containerOver::-webkit-scrollbar-thumb {
  background: var(--blue);
}


@media screen and (max-width: 768px) {
  .containerOver {
    margin-left: 0;
    margin-top: 5rem;
  }
}

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media screen and (max-width: 1000px){
  .container {
    height: 100%;
  }

  .container section {
    grid-template-columns: 1fr;
  }
  
}