.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: var(--gray-line);

  height: 100%;

  padding-top: 5rem;
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--blue);
}

.main {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-thumb {
  background: var(--blue);
}

.main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main header > img {
  max-width: 90%;
}

.main header h2 {
  font-size: 2rem;
  margin: 2rem;
}

.main button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter";
  color: var(--white);

  width: 15rem;
  height: 4rem;
  margin-bottom: 2rem;
  
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);

  background-color: var(--green);
  transition: all 0.2s;
  outline-color: var(--white);
  outline: 0;
}


.main button svg {
  margin-left: 0.5rem;
  transition: 0.4s;
}

.main button:hover svg {
  margin-left: 1.5rem;
}

.main section {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5rem;
  width: 100%;

  border-radius: 40px;
}

.main section h3 {
  color: var(--white);
  font-size: 2.5rem;
  
  margin-bottom: 1rem;
}

.main section p {
  color: var(--gray-line);
  font-size: 1.25rem;
}

.main section img {
  width: 40%;
  height: auto;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  margin: 0 2rem;
}

.imgMobile {
  display: none;
}

.main section:nth-child(3) img {
  box-shadow: none;
}

@media screen and (max-width: 425px) {
  .main {
    text-align: center;
    width: 90%;
  }

  .main section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  .main section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main section > img {
    display: none;
  }

  .main section img {
    width: 60%;
    margin-bottom: 1rem;
  }

  .imgMobile {
    display: flex;
  }
}